@import "./global.scss";
::-webkit-scrollbar {
  width: 0px;
}
.modal-content {
  transition: 1s;
  background-color: #fff;
  width: 540px;
  height: 582px;
  padding: 40px;
  text-align: center;

  @media only screen and (max-width: 582px) {
    width: 90%;
  }
  .logo {
    padding-bottom: 30px;
  }
  .field {
    position: relative;
    .control {
      input {
        box-shadow: none;
        font-family: "Pretendard";
        color: #7c7f91;
        height: 52px;
        font-size: 14px;
      }
      button {
        background: #e0e0e0;
        border-radius: 6px;
        width: 100%;
        color: #bdbdbd;
        font-size: 16px;
        font-family: "Pretendard";
        border-radius: 6px;
        height: 52px;
      }
    }
    .google {
      background-color: #fff !important;
      color: #212037 !important;
      font-weight: bold;
      height: 56px;
      border: 1px solid #f1f1f1;
    }
    .apple {
      background-color: #000 !important;
      color: #fff !important;
      font-weight: bold;
      height: 56px;
      border: 1px solid #f1f1f1;
    }
    img {
      position: absolute;
      z-index: 1;
      left: 22px;
      top: 14px;
      @media only screen and (max-width: 582px) {
        left: 8px;
      }
    }
  }
  .checkbox-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 17px 0;
    padding-top: 7px;
    label,
    p {
      font-family: Pretendard;
      font-size: 12px;
      color: #7c7f91;
      display: flex;
      cursor: pointer;
      align-items: center;
      input {
        margin-right: 6px;
      }
    }
    p {
      font-weight: 700;
    }
  }
  .or {
    color: #7c7f91;
    font-size: 14px;
    cursor: pointer;
    margin: 20px 0;
  }
  .signup {
    font-size: 14px;
    color: #7c7f91;
    margin-top: 20px;
    span {
      color: #5c6bc0;
      font-weight: bold;
      padding-left: 5px;
      cursor: pointer;
    }
  }
}

// checkbox

.container__checbox {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container__checbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 13.5px;
  width: 13.5px;
  border: 1px solid #7c7f91;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container__checbox:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container__checbox input:checked ~ .checkmark {
  background-color: #5c6bc0;
  border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container__checbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container__checbox .checkmark:after {
  left: 3.5px;
  top: 0.8px;
  width: 5px;
  height: 8px;
  border: 1px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
