@import "./global.scss";
::-webkit-scrollbar {
  width: 5px;
}
.navbar-dropdown {
  border: none;
  padding-top: 16px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: auto;
  height: 200px;
  background: #fff !important;
  z-index: 999999;
  position: absolute;
  width: max-content;
  .navbar-item {
    display: flex;
    flex-direction: column;
    padding: 6px;
    height: 32px;
    &:hover {
      background: #f6f7f9 !important;
      border-radius: 4px;
    }
    p {
      width: 100%;
      text-align: left;
      font-size: 14px;
      padding-bottom: 0 !important;
      color: #212037;
      margin: 0;
    }
  }
  .item__country {
    margin-bottom: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 32px;
    @media only screen and (max-width: 582px) {
      width: 45px;
    }

    img {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
      // @media only screen and (max-width: 582px) {
      //   width: auto;
      //   height: auto;
      //   margin-top: -10px;
      // }
    }
    span {
      font-weight: 400;
      font-size: 14px;
    }
    .nameCountry {
      color: #212037;
      margin: 0 10px;
    }
    .dial_code {
      color: #7c7f90;
    }
  }
}

.navbar-item,
.navbar-link {
  font-family: "Pretendard";
  line-height: 100%;
  padding: 5px;
  &:hover {
    background-color: #fff !important;
  }
}
.navbar-link:not(.is-arrowless)::after {
  border-color: #212037;
  margin-top: -4px;
  right: 10px;
}

.navbar-item,
.has-dropdown,
.is-hoverable {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  height: 52px;
  width: 100%;
  a {
    width: 100% !important;
    display: flex;
    color: #7c7f917a;
    font-size: 14px;
    height: 100%;
    align-items: center;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////
.modal-content::-webkit-scrollbar {
  width: 10px;
}
.modal-background {
  background-color: rgb(10 10 10 / 40%);
}
.modal-content {
  background-color: #fff;
  width: 540px;
  padding: 40px;
  text-align: center;
  @media only screen and (max-width: 582px) {
    width: 90%;
    padding: 20px;
  }

  .logo {
    padding-bottom: 10px;
  }
  .signup-title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #212037;
  }
  .field {
    position: relative;
    .control {
      input {
        box-shadow: none;
        font-family: "Pretendard";
        color: #7c7f91;
        height: 52px;
        font-size: 14px;
      }
      button {
        background: #5c6bc0;
        border-radius: 6px;
        width: 100%;
        color: #fff;
        font-size: 16px;
        font-family: "Pretendard";
        border-radius: 6px;
        height: 52px;
      }
    }
    .google {
      background-color: #fff !important;
      color: #212037 !important;
      font-weight: bold;
      height: 56px;
      border: 1px solid #f1f1f1;
    }
    .apple {
      background-color: #000 !important;
      color: #fff !important;
      font-weight: bold;
      height: 56px;
      border: 1px solid #f1f1f1;
    }
    img {
      // position: absolute;
      z-index: 1;
      left: 22px;
      top: 14px;
      @media only screen and (max-width: 582px) {
        left: 8px;
      }
    }
  }
  .checkbox-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 17px 0;
    label,
    p {
      font-family: "Pretendard";
      font-size: 12px;
      color: #7c7f91;
      display: flex;
      cursor: pointer;
      align-items: center;
      input {
        margin-right: 6px;
      }
    }
  }
  .or {
    color: #7c7f91;
    font-size: 14px;
    cursor: pointer;
    margin: 20px 0;
  }
  .signup {
    font-size: 14px;
    color: #7c7f91;

    span {
      color: #5c6bc0;
      font-weight: bold;
      padding-left: 5px;
      cursor: pointer;
    }
  }
  //Signup with email
  .services {
    text-align: left;
    h3 {
      font-weight: bold;
      font-size: 14px;
      color: #212037;
      span {
        color: #d2416d;
      }
    }
    p {
      font-size: 12px;
      color: #7c7f91;
    }
  }
}
.tabs-containe {
  margin: 20px 0;
  padding: 4px;
  background: #f6f7f9;
  border-radius: 8px;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      width: 50%;
      // background: #ffffff;
      // box-shadow: 0px 4px 8px rgb(0 0 0 / 5%);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      img {
        filter: invert(15%) sepia(1%) saturate(40%) hue-rotate(334deg) brightness(93%) contrast(96%);
        width: 140px;
        @media only screen and (max-width: 582px) {
          width: 100px;
        }
      }
    }
  }
}
.isActive {
  width: 50%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 5%);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  img {
    filter: invert(80%) sepia(0%) saturate(7500%) hue-rotate(313deg) brightness(93%) contrast(107%) !important;
  }
}
.img-child2 {
  // box-shadow: none !important;
  // background: #f6f7f9 !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // img {
  //   filter: invert(15%) sepia(1%) saturate(40%) hue-rotate(334deg) brightness(93%) contrast(96%) !important;
  //   width: 170px !important;
  // }
}
.px-2 {
  text-align: left;
  .services {
    padding-top: 7px;
    h3 {
      padding-bottom: 10px;
    }
  }
  .content-data {
    .field {
      .select,
      select {
        height: 52px;
        width: 100%;
        color: #7c7f91 !important;
      }
      .select:not(.is-multiple):not(.is-loading)::after {
        border-color: #7c7f91;
      }
    }
    .field-doubles {
      display: flex;
      justify-content: space-between;
      .control {
        width: 100%;
        input {
          border-color: #dbdbdb;
          padding-left: 10px;
          color: #7c7f91;
        }
      }
      .control-button {
        position: absolute;
        right: 10px;
        text-align: right;
        top: 7px;
        width: max-content;
      }
      button {
        width: max-content;
        background: #e0e0e0;
        border-radius: 4px;
        color: #bdbdbd;
        font-size: 14px;
        width: 100px;
        height: 36px;
      }
    }
  }
  .select-country {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media only screen and (max-width: 582px) {
      flex-direction: column;
    }
    option {
      span:nth-child(1) {
        color: #212037 !important;
      }
      span:nth-child(2) {
        color: #7c7f90 !important;
      }
    }
    .field {
      width: 27%;
      @media only screen and (max-width: 582px) {
        width: 100% !important;
      }
    }
    .field-doubles {
      width: 70%;
      @media only screen and (max-width: 582px) {
        width: 100%;
      }
    }
  }
}

.btn-submit {
  width: 100%;
  button {
    background: #e0e0e0 !important;
    border-radius: 4px;
    color: #bdbdbd !important;
    font-size: 14px;
    width: 100%;
    height: 52px !important;
    margin-top: 8px;
  }
}
