.aaaa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2;
}
.term {
  // margin: 60px 0;
  background: #f6f7f9 !important;
  margin-top: 60px;
  .term__container {
    margin: 0 auto;
    padding: 60px;
    background: #fff;

    h1 {
      font-weight: bold;
      font-size: 32px;
      text-transform: uppercase;
      color: #212037;
      padding-bottom: 40px;
    }
    .field {
      padding-bottom: 40px;
      .control {
        .select {
          height: 100%;
          width: 150px;
          select {
            height: 52px;
            color: #7c7f91;
            border-radius: 7px;
            width: 150px;
            option {
              background-color: #fff !important;
              color: #212037 !important;
            }
          }
        }
        .select:not(.is-multiple):not(.is-loading)::after {
          border-color: #7c7f91;
          // margin-top: 0;
        }
      }
    }
    .rule-containe {
      text-align: left;
      padding-bottom: 40px;
      h3 {
        font-weight: bold;
        font-size: 18px;
        color: #212037;
        padding-bottom: 10px;
      }
      p {
        font-size: 14px;
        color: #7c7f91;
      }
    }
  }
}
select option {
  color: white !important;
}

select option,
select optgroup {
  background-color: #363636 !important;
}

::placeholder {
  color: #aaa !important;
}
