@import "./global.scss";
.useFree {
  background: #212037;
  margin-top: 177px;
  height: 220px;
  @media only screen and (max-width: 768px) {
    padding: 58px 0;
    height: auto;
    margin-top: 50px;
  }
  @media only screen and (max-width: 582px) {
    margin-top: 50px;
  }
  .useFree__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
    h1 {
      font-family: Spoqa Han Sans Neo;
      font-weight: bold;
      font-size: 28px;
      color: #ffffff;
      @media only screen and (max-width: 375px) {
        font-size: 16px;
      }
    }
    .btn-useFree {
      width: 180px;
      height: 56px;
      background: #ffffff;
      color: #212037;
      font-size: 16px;
      font-weight: bold;
      @media only screen and (max-width: 768px) {
        margin-top: 20px;
      }
      @media only screen and (max-width: 375px) {
        width: 144px;
        height: 42px;
      }
    }
  }
}
